aiokafka==0.7.2; python_version >= "3.9" and python_version < "4.0"
kafka-python==2.0.2; python_version >= "3.9" and python_version < "4.0"
msgpack==1.0.2; python_version >= "3.9" and python_version < "4.0"
pydantic==1.8.2; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.1"
the-flash @ git+ssh://git@gitlab.decode.buzz/the-flash/core/the-flash-framework.git@v0.1.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==3.10.0.2; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.1"
ujson==4.1.0; python_version >= "3.9" and python_version < "4.0"
uvloop==0.16.0; python_version >= "3.9" and python_version < "4.0"
